@charset "UTF-8";

/* .thought_back_wrap {
    position: relative;
} */
.thought_back01 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 85px auto 0;
    z-index: -10;
}
.thought_back01 img {
    object-fit: contain;
    width: 100%;
    height: 2300px;
}
@media screen and (max-width: 1500px) {
    .thought_back01 img {
        object-fit: cover;
    }
}

/* かたまり共通 */
.section {
    position: relative;
}
h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
    z-index: -1;
}
h3 {
    font-size: 24px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    line-height: 1.75;
    padding-top: 40px;
    padding-bottom: 17px;
    border-bottom: 2px dotted #a2d7dd;
    margin-bottom: 17px;
}

.heading {
    position: absolute;
    top: 0;
    left: 6%;
    height: 100%;
    z-index: -1;
}
.pc_sticky {
    position: sticky;
    top: 110px;
    padding-top: 30px;
}
.sp_un_sticky {
    display: none;
}
.br_pc_none {
    display: none;
}

/* 制作への想い */
/* .top {
    height: 450px;
    padding-top: 80px;
    margin: 180px auto 0;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 0.1em;
} */

.thought_wrap {
    text-align: justify;
    max-width: 1000px;
    padding: 0 15%;
    margin: 200px auto 160px;
}
.thought_right {
    text-align: justify;
    width: 59%;
    margin-left: 41%;
}
.thought_left {
    width: 55%;
}
.thought_right,
.thought_left {
    position: relative;
}
.thought_right + .thought_left,
.thought_left + .thought_right {
    margin-top: 100px;
}
.thought_before::before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(162, 215, 221, 0.8);
    position: absolute;
    top: -10px;
    left: -40px;
    z-index: -5;
}
.thought_work {
    font-size: 15px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 40px;
}

/* ロゴマーク */

.thought_back02 {
    background-image: url(../images/thought_back02@2x-80.jpg);
    z-index: -10;
}

.logo_wrap {
    max-width: 820px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 300px auto 160px;
}
.logo_img {
    width: 240px;
    padding-top: 80px;
    margin: 0 auto 50px;
}
.logo_desc_mean {
    margin-bottom: 100px;
}
.logo_desc_symbol {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.logo_desc_symbol_wrap {
    padding-right: 30px;
}
.logo_desc_symbol_img {
    flex-shrink: 0;
    width: 75px;
}
.logo_desc_symbol_img_te {
    padding-bottom: 30px;
}
.thought_logo {
    font-size: 15px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    /* かたまり共通 */
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
        padding-top: 80px;
        padding-bottom: 17px;
        margin-bottom: 17px;
    }
    .br_pc_none {
        display: none;
    }
    /* .top {
        height: 352px;
        padding-top: 40px;
        margin: 150px auto 0;
        font-size: 20px;
    } */

    /* 制作への想い */
    .thought_wrap {
        margin: 130px auto 0;
    }
    .thought_right,
    .thought_left {
        width: 100%;
        margin: 0 auto;
    }
    .thought_right + .thought_left,
    .thought_left + .thought_right {
        margin-top: 0;
    }
    .thought_before::before {
        width: 80px;
        height: 80px;
        top: 40px;
    }
    .thought_work {
        margin-bottom: 0;
    }

    /* ロゴについて */
    .logo_wrap {
        margin: 130px auto 100px;
        padding: 0 15%;
    }
    .logo_img {
        width: 210px;
        padding-top: 80px;
        margin: 0 auto;
    }
    .logo_desc_mean {
        margin-bottom: 0;
    }
    .logo_desc_symbol {
        display: block;
    }
    .logo_desc_symbol_wrap {
        padding-right: 0;
    }
    .logo_desc_symbol_img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    .logo_desc_symbol_img_te {
        padding-right: 30px;
    }
    .logo_desc_symbol_img_te,
    .logo_desc_symbol_img_n {
        width: 75px;
    }
    .thought_logo {
        line-height: 2;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 452px) {
    .pc_sticky {
        display: none;
    }
    .sp_un_sticky {
        display: block;
        padding-top: 20px;
        margin: 0 auto;
    }
    h3 {
        padding-top: 60px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .thought_wrap,
    .logo_wrap {
        padding-left: 10%;
        padding-right: 10%;
    }
    .thought_before::before {
        width: 60px;
        height: 60px;
        top: 35px;
        left: -30px;
    }
}
