@charset "UTF-8";

.about_back01 {
    position: absolute;
    top: 0;
    left: 20%;
    max-width: 900px;
}
.about_back01 img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    object-position: 0 100%;
}

/* .home_back02 {
    position: absolute;
    top: -290px;
    left: 0;
}
.home_back02 img {
    object-fit: cover;
    width: 100%;
    height: 610px;
} */
.back_design {
    position: relative;
}
.about_back02 {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}
.about_back02 img {
    object-fit: cover;
    width: 100%;
    height: 750px;
}

h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
    z-index: -1;
}
.heading {
    position: absolute;
    top: -70px;
    left: 6%;
    z-index: -1;
}
.about_wrap {
    max-width: 1000px;
    padding-left: 15%;
    padding-right: 15%;
    margin: 300px auto;
}
.name {
    font-size: 25px;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
    margin-bottom: 25px;
}
.name_en::before {
    content: "Yori";
    padding-left: 20px;
    font-size: 15px;
    color: #969696;
}
.about_desc_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.abuot_desc {
    font-size: 15px;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
    line-height: 2;
    padding-right: 10px;
    margin-bottom: 25px;
}
.about_achieve {
    font-size: 14px;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
    line-height: 1.5;
    color: #969696;
    margin-bottom: 25px;
}
.about_skill_icon {
    width: 50%;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 25px;
    }
    .about_desc_wrap {
        display: block;
    }
    .about_achieve {
        font-size: 13px;
    }
    .about_skill_icon {
        width: 50%;
    }
    .about_skill_icon {
        width: 300px;
    }
}
@media screen and (max-width: 452px) {
    .about_back01 {
        top: 155px;
        left: -50px;
    }
    .about_back02 {
        top: 400px;
    }
    .heading {
        position: static;
        margin: 130px auto 80px;
    }
    .about_wrap {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0;
        margin-bottom: 150px;
    }
    .about_skill_icon {
        width: 100%;
    }
}
